<div class="card" style="width: 18rem;">
    <!-- @if (weatherData.main.temp > 15) {
        <img src="../../../../../images/frio-happy.png" class="card-img-top" alt="Imagem frio">
    }
    @else {
        <img src="../../../../../images/calor-happy.png" class="card-img-top" alt="Imagem calor">
    } -->
<img src="calor-happy.png" class="card-img-top" alt="Imagem calor">
    
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>